<div class="navbar-lewagon d-flex">
  <%= image_tag "icon-2.png", alt: "Film Photo Icon",  width: 80, class: "navbar-brand img" %>
  <div>
    <%= link_to "My Lists", lists_path, class: "btn text-light" %>
    <%= link_to "New List", new_list_path, class: "btn text-light" %>
  </div>
</div>

<div class="banner position-relative" style="background-image: url('<%=image_path('background-index.jpg')%>')">
    <h1>Create your own <strong>personalized movie list</strong>!</h1>
    <p>Save any kind of movie!</p>
</div>

<div class="container m-5 p-2">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>All Lists</h1>

    <%= link_to "Create a Movie List", new_list_path, class: "btn btn-warning p-3"%>
  </div>

  <div class="card-list">
    <% @lists.each do |list| %>
      <div class="card-category d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        <%= link_to list.name, list_path(list), class: "btn p-5 fw-bold"%>
      </div>
    <% end %>
  </div>
</div>
