<div class="navbar-lewagon d-flex">
  <%= image_tag "icon-2.png", alt: "Film Photo Icon",  width: 80, class: "navbar-brand img" %>
  <div>
    <%= link_to "My Lists", lists_path, class: "btn text-light" %>
    <%= link_to "New List", new_list_path, class: "btn text-light" %>
  </div>
</div>

<div class="container m-5 p-2">
  <h1>Create List</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.submit%>
  <% end %>
</div>
